# Python bytecode e cache
__pycache__/
*.py[oc]

# Logs e arquivos temporários
*.log

# Build e distribuição (pip, wheel, egg)
build/
dist/
wheels/
*.egg-info

# Ambientes virtuais
.env
.venv/
venv/

# Configurações de IDE 
.vscode/
.idea/

# Arquivos de configuração do sistema
.DS_Store
Thumbs.db

# Arquivos temporários do pytest 
.pytest_cache/

# Ignorar arquivos JSON gerados temporariamente
produtos.json
checkout_info.json
